In [1]:
import difflib
import seaborn as sns

In [2]:
import pandas as pd

full_data = pd.read_csv('data/top_novels.csv')

In [3]:
full_data.head()

,Series name (final cleaned version),Book Title (Pre-cleaned title),Author Name (already cleaned),Reddit user anon.
0,Arthor,The Dragon and the Unicorn,A.A. Attanasio,1
1,All the Murmuring Bones,All the Murmuring Bones,A.G. Slatter,2
2,Second Age of Retha,Second Age of Retha,A.M. Sohma,3
3,South Side Stories,The Enchanted Garden Cafe,Abigail Drake,4
4,Terra Ignota,Terra Ignota,Ada Palmer,5

In [4]:
full_data.shape

(8975, 4)

In [5]:
full_data.columns = ['series', 'title', 'author', 'user']

In [6]:
series_list = list(set(full_data['series'].values))
series_list.sort()

In [7]:
len(series_list)

1184

In [8]:
series_dict = {}


for series in series_list:
    users = []
    for i in range(full_data.shape[0]):
        if full_data['series'][i] == series:
            users.append(full_data['user'][i])
    series_dict[series] = users

In [9]:
#print(series_dict['The Stormlight Archive'])

In [10]:
users_list = []

for i in range(full_data.shape[0]):
    users_list.append(full_data['user'][i])

In [11]:
print(len(users_list))

8975

In [12]:
users_list = list(set(users_list))

In [13]:
users_cols = [str(user) for user in users_list]

In [14]:
df_users = pd.DataFrame(columns=users_cols)

In [15]:
df_users.head()

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]
Index: []

[0 rows x 941 columns]

In [17]:
series_user_dummy_dict = {}

for series in series_list:
    users_dummy = []
    for user in users_list:
        if user in series_dict[series]:
            users_dummy.append(1)
        else:
            users_dummy.append(0)
    series_user_dummy_dict[series] = users_dummy
    #print(series)

In [18]:
print(len(series_user_dummy_dict.values()))

print(len(series_user_dummy_dict['Mistborn']))

1184
941

In [19]:
df = pd.DataFrame.from_dict(series_user_dummy_dict, orient='index')

In [20]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,931,932,933,934,935,936,937,938,939,940
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df.to_csv('data/series_users_vectors.csv')

In [41]:
df_2 = pd.read_csv('data/series_users_vectors.csv', index_col=0)

In [42]:
df_t = df_2.T

In [43]:
corr = df_t.corr()

In [44]:
corr.to_csv('data/correlations.csv')

In [45]:
corr = pd.read_csv('data/correlations.csv', index_col=0)

In [46]:
corr.head()

,14,1984,1Q84,23337,84K,A Boy and His Dog at the End of the World,A Brightness Long Ago,A Chorus of Dragons,A Christmas Carol,A Connecticut Yankee in King Arthur's Court,...,Wylding Hall,Xenogenesis,Yarnsworld,Young Wizards,Yu Yu Hakusho,Zamonia,Zones of Thought,the Poppy War,warbreaker,Ã†lefas
14,1.000000,-0.003707,-0.001505,0.407161,-0.001064,-0.001064,-0.001064,-0.001505,-0.001064,-0.001064,...,-0.001064,-0.003020,-0.001845,-0.001505,-0.001064,-0.002384,-0.001064,-0.001064,-0.001064,-0.001064
1984,-0.003707,1.000000,-0.005245,-0.009104,-0.003707,-0.003707,-0.003707,-0.005245,-0.003707,-0.003707,...,-0.003707,-0.010524,-0.006427,-0.005245,-0.003707,-0.008307,-0.003707,-0.003707,-0.003707,-0.003707
1Q84,-0.001505,-0.005245,1.000000,-0.003697,-0.001505,-0.001505,-0.001505,-0.002130,-0.001505,-0.001505,...,-0.001505,-0.004274,-0.002610,-0.002130,-0.001505,-0.003373,-0.001505,-0.001505,-0.001505,-0.001505
23337,0.407161,-0.009104,-0.003697,1.000000,-0.002613,-0.002613,-0.002613,-0.003697,-0.002613,-0.002613,...,-0.002613,-0.007418,-0.004530,-0.003697,-0.002613,-0.005855,-0.002613,-0.002613,-0.002613,-0.002613
84K,-0.001064,-0.003707,-0.001505,-0.002613,1.000000,-0.001064,-0.001064,-0.001505,-0.001064,-0.001064,...,-0.001064,-0.003020,-0.001845,-0.001505,-0.001064,-0.002384,-0.001064,-0.001064,-0.001064,-0.001064

In [51]:
corr['Riyria'].sort_values(ascending=False)[1:6].index[0]

'Ash and Sand'

In [56]:
print(list((range(1,6))))

[1, 2, 3, 4, 5]